<div class="comment">
  <header class="comment-header">
    <a class="comment-user" href="<%= user_url(comment.user) %>"><%= comment.user.name %></a>
    <p class="comment-date"><%= comment.created_at.strftime("%b %e %y") %></p>
  </header>
  <p class="comment-content"><%= comment.content %></p>
  <footer class="question-footer">
    <% if comment.children.count > 0 %>
      <a class="responses-botton" href="#"><%= comment.children.count %> response<%= "s" if comment.children.count > 1%> </a>
    <% end %>
    <% if current_user %>
      <a class="comment-botton" href="#">respond</a>
    <% end %>
  </footer>  
  
  <%= render partial: "comments/comment_form", locals: {question: comment.question, parent_id: comment.id} %>  
  
  <%= render partial: "comments/list_comments", locals: {comments: comment.children} %>
</div>