<% if current_user && is_admin?(current_user) %>
<nav class="sub-navigation">
  <a href="<%= new_user_url %>">+USER</a>
</nav>
<% end %>

<header class="title">All Users</header>
<% @users.each do |user| %>
<div class="user-sq">
  <a class="user-sq-avatar" href="<%= user_url(user) %>"><img src="<%= user.avatar.url(:square) %>"></img></a>
  <a class="user-sq-name fill-sq-title" href="<%= user_url(user) %>"><%= user.name %></a><br>
</div>
<% end %>