<header class="page-title">Edit Book</header>

<div class="page-middle">

<form action="<%= book_url(@book) %>" method="POST">
  <input type="hidden" name="_method" value="PUT"></input>
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>

<label>Title
<input type="text" name="book[title]" value="<%= @book.title %>"></input>
</label>

<label>Author
<input type="text" name="book[author]" value="<%= @book.author %>"></input>
</label>

<label>Description
<textarea name="book[description]"><%= @book.description %></textarea>
</label>

<label>Image
<input type="text" name="book[cover]" value="<%= @book.cover() %>"></input>
</label>

<label>Source
<input type="text" name="book[source]" value="<%= @book.source %>"></input>
</label>

<input type="submit" value="Edit!"></input>
</form>

<a class="back-button" href="<%= book_url(@book) %>">CANCEL</a>

</div>