<% #if current_user && is_admin?(current_user) %>
<nav class="sub-navigation">
  <a href="<%= edit_book_url(@book) %>">EDIT</a>
  
  <a href="<%= new_book_question_url(@book) %>">+QUESTION</a>
</nav>
<% #end %>
<header class="page-title">Show Book</header>

<div class="book">
  <div class="book-title">Title: <%= @book.title %></div>
  <div class="book-author">Author: <%= @book.author %></div>
  <div class="book-description">Description: <%= @book.description %></div>
  <div class="book-image">Image: <%= image_tag @book.cover.url(:square) %></div>
  <a href="<%= @book.source %>">Link!</a>

  <%= render partial: "questions/list_questions", locals: { questions: @book.questions} %>
</div>

