<% if current_user && is_admin?(current_user) %>
<nav class="sub-navigation">
  <a href="<%= edit_book_url(@book) %>">EDIT</a>
  
  <a href="<%= new_book_question_url(@book) %>">+QUESTION</a>
</nav>
<% end %>

<!-- <header class="page-title">Show Book</header> -->

<div class="book">
  <div class="book-cover"><%= image_tag @book.cover.url(:large) %></div>
    <div class="book-title"><%= @book.title %></div>
    <div class="book-author">by <%= @book.author %></div>
    <a class="book-download" href="<%= @book.source %>">Download</a>
    <div class="book-description"><%= @book.description %></div>
</div>

<div class="page-separator"></div>

<%= render partial: "questions/display_questions", locals: { questions: @book.questions} %>

