<!DOCTYPE html>
<html>
<head>
  <title>MECPS Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <div class="main-header-wrapper">
    <header class="main-header">Library</header>
  </div>
  

<%= render "layouts/nav_bar" %>

<%= render "layouts/flash_messages" %>

<div class="main">
  <nav class="sub-navigation">
  </nav>
  
	<%= yield %>
  
  <div class="page-separator"></div>
</div>

<footer class="main-footer">
  <a href="<%= about_url %>">About Us</a>
  <a href="<%= links_url %>">Links</a></footer>
</body>
</html>
